<form class="ui form" action="/latestproduct">
    <h3>Search Best seller in Amazon</h3>
    <input type="text" name="tag" placeholder="Search...">
    <input type="submit" class="ui button" value="Search">
</form>

<form class="ui form" action="/search">
    <h3>Search latest news on Google</h3>
    <input type="text" name="tag" placeholder="Search...">
    <input type="submit" class="ui button" value="Search">
</form>

<form class="ui form" action="/AmazonSearch">
    <h3>Amazon Search</h3>
    <input type="text" name="tag" placeholder="Search...">
    <input type="submit" class="ui button" value="Search">
</form>

<form class="ui form" action="/liveupdate">
    <h3>Get latest Covid cases</h3>
    <input type="text" name="tag" placeholder="Search..." value="covid-19">
    <input type="submit" class="ui button" value="Live Update">
</form>


<form class="ui form" action="/EbaySearch">
    <h3>Ebay Search</h3>
    <input type="text" name="tag" placeholder="Search...">
    <input type="submit" class="ui button" value="Search">
</form>

<form class="ui form" action="/weather">
    <h3>Enter your Location</h3>
    <input type="text" name="tag" placeholder="Search...">
    <input type="submit" class="ui button" value="Search">
</form>